---
---

@import "normalize";


$main-color: #263238;
$secondary-color: #BDBDBE;
$main-background: #fff;
$secondary-background: #f8f8f8;

$max-width: 1020px;

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	// font-family: 'Open Sans', sans-serif;
  // font-family: "PT Sans", Helvetica, Arial, sans-serif;
	// margin-bottom: 4rem;
	min-height: 100%;

  //font-family: 'Roboto', sans-serif;
  font-family: 'Aileron', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  background: $main-background;
}

a {
  color: $main-color;
}

.header {
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: left;
  clear: both;
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;

  .links {
    float: right;
    font-size: 10.5pt;
    list-style: none;
    margin: 0;
  }

  .links li {
    float: left;
  }

  .links a {
    margin: 0 6px;
    text-decoration: none;
    color: #9E9E9E;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .title, .title a {
    color: $main-color;
  	font-weight: 600;
  	font-size: 26pt;
  	margin: 0;
    letter-spacing: -3px;
    text-decoration: none;
  }

  .sub-title {
    color: $secondary-color;
    font-weight: 300;
    //letter-spacing: 1px;
  	margin: 0;
  	font-size: 16pt;
  	padding-bottom: 0;
  }
}

.hero {
  color: $main-background;
  border-radius: 1px;
  padding: 3rem 2.75rem;
  background: $main-color;
  font-size: 13pt;
  line-height: 1.4;
  // letter-spacing: 1px;
  // font-weight: 400;
  // margin-right: 232px;
}

.container {
  color: $main-color;
	padding: 0 2rem;
	max-width: $max-width;
  margin: 0 auto;
  font-weight: 300;
}

.portfolio {
	h1 {
    font-weight: 300;
    font-size: 28pt;
    margin-top: 2.5rem;
  }

  // background: #ECEFF1;
  margin-top: 2rem;

  .section {
    margin-top: 2rem;
    content: "";
    display: table;
    clear: both;
    margin-bottom: 12rem;
    width: 100%;


    .description, .caption {
      width: 40%;
      float: left;
      font-size: 18px;

      &.left {
        padding-right: 2.75rem;
      }

      &.right {
        padding-left: 2.75rem;
      }
    }

    .description {
      h3 {
        margin-top: 0;
        padding-top: 0.75rem;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 1.75rem;
      }

      .links {
        margin-top: 2.5rem;
      }

      .tags {
        margin-top: 1.5rem;

        span, a {
          color: $main-color;
          font-size: 80%;
          display: inline-block;
          font-weight: 400;
          border: 1px solid $secondary-color;
          padding: 1px 5px;
          border-radius: 2px;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .caption {
      display: block;
      color: $secondary-color;
      min-height: 100%;
      height: 100%;
      overflow: auto;
      position: relative;

      p {
        position: absolute;
        bottom: 0;
      }
    }

    .thumb {
      float: left;
      width: 60%;
      // max-height: 400px;
      max-height: 325px;
      overflow: hidden;
      // border-bottom: 1px solid #ddd;
      // background: #0a0;

      img {
        // min-width: 66.66%;
        max-width: 100%;
      }

      &.left {
        // padding-right: 2.5rem;
      }

      &.right {
        // padding-left: 2.5rem;
        text-align: right;
      }
    }

    .thumb.logo img {
      max-height: 180px;
    }
  }
}

.skills {
  text-align: left;
}

.skills h3 {
  font-size: 11pt;
}

.skills ul {
	margin: 0;
	padding: 0;
	list-style-type: square;
}

.btn, .main a {
  color: $main-background;
  background: $main-color;
  text-decoration: none;
  // border: 2px solid $main-color;
  padding: 0.4rem 1.4rem;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid transparent;
  text-transform: uppercase;

  transition: all ease 0.2s;

  &:hover {
    color: $main-color;
    background: $main-background;
    border: 2px solid $main-color;
  }
}

.xy-1 {
  width: 216px;
  height: 144px;
}

.main a {
  // float: left;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: -2px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: bottom;
  padding-left: 3px;
  // font-variant: small-caps;

  &:hover {
    border: 3px solid transparent;
  }
}

a.s1 {
  color: #00b9d6;
  border: 3px solid #00b9d6;
  background: $main-background;

  &:hover {
    background: #00b9d6;
    color: $main-background;
  }
}

a.s2 {
  color: #00d6b9;
  border: 3px solid #00d6b9;
  background: $main-background;

  &:hover {
    background: #00d6b9;
    color: $main-background;
  }
}
//
// .s3 {
//   background: #b9d600;
//   float: right;
//   margin-left: 18px;
//   display: inline-block;
// }

.footer {
  width: 100%;
  text-align: right;
  margin-top: 3rem;
  font-size: 13px;
  margin-bottom: 0;
  background: $secondary-background;

  .container {
    padding: 2rem;
    color: $secondary-color;
    max-width: $max-width;
  }
}

/* Utils */
.float-right {
	float: right;
}

.row {
	overflow: hidden;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row .half {
	display: block;
	float: left;
	width: 50%;
}

.row .third {
	display: block;
	float: left;
	width: 33.3333%;
}

.row .two-third {
	display: block;
	float: left;
	width: 66.6666%;
}
