---
---

@import "normalize";

// Variables
$main-color: #263238;
$secondary-color: #b0b1b3;
$main-background: #fff;
$secondary-background: #f8f8f8;
$max-width: 1020px;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  // height: 100%;
  // min-height: 100%;
}

body {
  position: relative;
  // font-family: 'Open Sans', sans-serif;
  //font-family: 'Roboto', sans-serif;
  font-family: 'Aileron', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  background: $main-background;
}

img {
  max-width: 100%;
}

a {
  color: $main-color;
}

.header {
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: left;
  clear: both;
  // border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;

  .links {
    float: right;
    font-size: 11pt;
    list-style: none;
    margin: 0;
  }

  .links li {
    float: left;
  }

  .links a {
    margin: 0 6px;
    text-decoration: none;
    color: darken($secondary-color, 8);

    &:hover {
      text-decoration: underline;
    }
  }

  .title, .title a {
    color: $main-color;
    font-size: 30pt;
    font-weight: 200;
    margin: 0;
    letter-spacing: -3px;
    text-decoration: none;

    transition: opacity ease 0.25s;
  }

  .title a:hover {
    opacity: 0.4;
  }

  .sub-title {
    color: $secondary-color;
    font-weight: 500;
    letter-spacing: 2.3px;
    word-spacing: 3px;
    margin: 0;
    font-size: 16pt;
    padding-bottom: 0;
  }
}

.hero {
  padding: 2rem 0;
  font-size: 18pt;
  line-height: 1.4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 0;
  margin-bottom: 36px;
}

.container {
  padding: 0 1rem;
  max-width: $max-width;
  margin: 0 auto;
  font-weight: 300;
}

.portfolio {
  h1 {
    font-weight: 300;
    font-size: 30pt;
    margin-top: 2.5rem;
  }

  margin-top: 2rem;

  .section {
    content: "";
    padding: 3rem 0;
    margin: 1rem 0;

    // border-bottom: 1px solid $secondary-background;

    // Alternate color
    &.dark {
      background: $main-color;
      color: $main-background;

      .description {
        .tags {
          a, span {
            color: $secondary-background;
          }
        }

        .btn {
          background: $secondary-background;
          color: $main-color;

          &:hover {
            color: $secondary-background;
            background: $main-color;
            border: 2px solid $secondary-background;
          }
        }
      }
    }

    .description, .caption {
      padding: 0.5rem;
      font-size: 17px;
    }

    .description {
      h3 {
        margin-top: 0;
        padding-top: 0.25rem;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

      .links {
        margin-top: 2rem;
      }

      .tags {
        margin-top: 1.5rem;

        span, a {
          color: $main-color;
          font-size: 80%;
          display: inline-block;
          font-weight: 400;
          border: 1px solid $secondary-color;
          padding: 1px 5px;
          border-radius: 2px;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .caption {
      p {
        color: $secondary-color;
      }
    }

    .thumb {
      max-height: 330px;
      overflow: hidden;

      img {
        max-width: 100%;
        float: right;

        &.p50 {
          width: 50%;
        }

        &.p60 {
          width: 60%;
        }
      }

      &:first-child img {
        float: left;
      }
    }

    .thumb.logo img {
      max-height: 180px;
    }
  }
}

.btn, .main a {
  color: $main-background;
  background: $main-color;
  text-decoration: none;
  padding: 0.4rem 1.4rem;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0.5rem;

  transition: all ease 0.25s;

  &:hover {
    color: $main-color;
    background: $main-background;
    border: 2px solid $main-color;
  }
}

.main {
  clear: both;
  content: "";
  display: table;
  width: 100%;

  ul {
    list-style: none;
    background: $main-color;
    padding: 0;

    li {
      float: left;
      display: table;
      margin-bottom: 18px;
      width: 100%;

      a {
        padding: 0;
        padding-left: 3px;
        margin: 0;
        display: table-cell;
        width: 140px;
        height: 140px;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -2px;
        text-transform: uppercase;
        vertical-align: bottom;
        text-align: left;
        border-width: 2px;
        background: $main-background;

        &:hover {
          color: $main-background;
        }
      }
    }
  }
}

$linkBaseColor: #00b2ec;

a.s1 {
  color: $linkBaseColor;
  border-color: $linkBaseColor;

  &:hover {
    border-color: $linkBaseColor;
    background: $linkBaseColor;
  }
}

a.s2 {
  color: darken($linkBaseColor, 25%);
  border-color: darken($linkBaseColor, 25%);

  &:hover {
    border-color: darken($linkBaseColor, 25%);
    background: darken($linkBaseColor, 25%);
  }
}

a.s3 {
  color: desaturate($linkBaseColor, 28%);
  border-color: desaturate($linkBaseColor, 28%);

  &:hover {
    border-color: desaturate($linkBaseColor, 28%);
    background: desaturate($linkBaseColor, 28%);
  }
}

.footer {
  margin: 0;
  margin-top: 35px;
  // position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 13px;
  background: $secondary-background;

  .container {
    padding: 2rem;
    color: $secondary-color;

    a {
      color: darken($secondary-color, 8);
    }
  }
}

.main-gallery {
  // margin-bottom: 5rem;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	font-size: 0;
  height: auto;

  a {
    width: 50%;
    transition: .8s opacity;
    padding: 2px;

    &:hover {
      opacity: 0.8;
    }
  }
}

/* Utils */
.float-right {
  float: right;
}

.row {
  overflow: hidden;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media (min-width: 576px) {
  .container {
    padding: 0 1.75rem;
    transition: padding ease 0.5s;
  }

  .portfolio {
    .section {
      padding: 5rem 0;
      margin: 2rem 0;
    }
  }

  .main ul {
    li {
      width: auto;
      margin-left: 18px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .portfolio .section {
    .description, .caption {
      padding-left: 1.25rem;
      padding-right: 0;

      &:first-child {
        padding-left: 0;
        padding-right: 1.25rem;
      }
    }

    .caption {
      p {
        position: absolute;
        bottom: 0;
      }
    }
  }

  .row .c1-2 {
    display: block;
    float: left;
    width: 50%;
  }

  .row .c1-3 {
    display: block;
    float: left;
    width: 33.333%;
  }

  .row .c2-3 {
    display: block;
    float: left;
    width: 66.666%;
  }

  .row .c1-4 {
    display: block;
    float: left;
    width: 25%;
  }

  .row .c1-5 {
    display: block;
    float: left;
    width: 20%;
  }

  .row .c2-5 {
    display: block;
    float: left;
    width: 40%;
  }

  .row .c3-5 {
    display: block;
    float: left;
    width: 60%;
  }

  .row .c4-5 {
    display: block;
    float: left;
    width: 80%;
  }

  .main-gallery {
    a {
      width: 33.33%;
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  .hero {
    font-size: 22pt;
  }

  .portfolio {
    .section {
      padding: 5.5rem 0;
      margin: 3rem 0;
    }
  }

  .portfolio .section {
    .description, .caption {
      padding-left: 2.5rem;
      padding-right: 0;

      &:first-child {
        padding-left: 0;
        padding-right: 2.5rem;
      }
    }
  }

  .main ul {
    li {
      a {
        font-size: 32px;
        width: 210px;
      }
    }
  }

  .main-gallery {
    a {
      width: 25%;
    }
  }
}
