---
---

@import "normalize";

// Variables
$main-color: #263238;
$secondary-color: #BDBDBE;
$main-background: #fff;
$secondary-background: #f8f8f8;
$max-width: 1020px;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  // font-family: 'Open Sans', sans-serif;
  // font-family: "PT Sans", Helvetica, Arial, sans-serif;
  // margin-bottom: 4rem;
  min-height: 100%;

  //font-family: 'Roboto', sans-serif;
  font-family: 'Aileron', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
  background: $main-background;
}

a {
  color: $main-color;
}

.header {
  margin-top: 36px;
  margin-bottom: 36px;
  text-align: left;
  clear: both;
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;

  .links {
    float: right;
    font-size: 10.5pt;
    list-style: none;
    margin: 0;
  }

  .links li {
    float: left;
  }

  .links a {
    margin: 0 6px;
    text-decoration: none;
    color: darken($secondary-color, 8);
  }

  .links a:hover {
    text-decoration: underline;
  }

  .title, .title a {
    color: $main-color;
    font-weight: 600;
    font-size: 26pt;
    margin: 0;
    letter-spacing: -3px;
    text-decoration: none;
  }

  .sub-title {
    color: $secondary-color;
    font-weight: 300;
    //letter-spacing: 1px;
    margin: 0;
    font-size: 16pt;
    padding-bottom: 0;
  }
}

.hero {
  color: $main-background;
  border-radius: 1px;
  padding: 3rem 2.75rem;
  background: $main-color;
  font-size: 13pt;
  line-height: 1.4;
  // letter-spacing: 1px;
}

.container {
  padding: 0 2rem;
  max-width: $max-width;
  margin: 0 auto;
  font-weight: 300;
}

.portfolio {
  h1 {
    font-weight: 300;
    font-size: 28pt;
    margin-top: 2.5rem;
  }

  margin-top: 2rem;

  .section {
    content: "";
    padding: 5.5rem 0;
    margin: 3rem 0;

    // border-bottom: 1px solid $secondary-background;

    // Alternate color
    &.dark {
      background: $main-color;
      color: $main-background;

      .description {
        .tags {
          a, span {
            color: $secondary-background;
          }
        }

        .btn {
          background: $secondary-background;
          color: $main-color;

          &:hover {
            color: $secondary-background;
            background: $main-color;
            border: 2px solid $secondary-background;
          }
        }
      }
    }

    .description, .caption {
      font-size: 17px;

      padding-left: 2.5rem;
      padding-right: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &:first-child {
        padding-left: 0;
        padding-right: 2.5rem;
      }
    }

    .description {
      h3 {
        margin-top: 0;
        padding-top: 0.25rem;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

      .links {
        margin-top: 2rem;
      }

      .tags {
        margin-top: 1.5rem;

        span, a {
          color: $main-color;
          font-size: 80%;
          display: inline-block;
          font-weight: 400;
          border: 1px solid $secondary-color;
          padding: 1px 5px;
          border-radius: 2px;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }

    .caption {
      p {
        color: $secondary-color;
      }
    }

    .thumb {
      max-height: 330px;
      overflow: hidden;
      // border-bottom: 1px solid #ddd;

      img {
        max-width: 100%;
        float: right;
      }

      &:first-child img {
        float: left;
      }
    }

    .thumb.logo img {
      max-height: 180px;
    }
  }
}

.btn, .main a {
  color: $main-background;
  background: $main-color;
  text-decoration: none;
  padding: 0.4rem 1.4rem;
  font-size: 14px;
  font-weight: 400;
  border: 2px solid transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0.5rem;

  transition: all ease 0.2s;

  &:hover {
    color: $main-color;
    background: $main-background;
    border: 2px solid $main-color;
  }
}

.main ul {
  list-style: none;
  padding: 0;
  background: $main-color;

  li {
    float: left;
    width: 100%;
    display: table;
    margin-bottom: 16px;

    a {
      padding: 0;
      padding-left: 3px;
      margin: 0;
      display: table-cell;
      width: 144px;
      height: 144px;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: -2px;
      border-width: 3px;
      text-transform: uppercase;
      vertical-align: bottom;
      text-align: left;
      color: $main-background;

      &:hover {
        border-width: 3px;
        background: $main-background;
      }
    }
  }
}

a.s1 {
  background: #00b3d0;

  &:hover {
    color: #00b3d0;
    border-color: #00b3d0;
  }
}

a.s2 {
  background: #00d0b3;

  &:hover {
    color: #00d0b3;
    border-color: #00d0b3;
  }
}

.footer {
  width: 100%;
  text-align: right;
  margin-top: 3rem;
  font-size: 13px;
  margin-bottom: 0;
  background: $secondary-background;

  .container {
    padding: 2rem;
    color: $secondary-color;

    a {
      color: darken($secondary-color, 8);
    }
  }
}

/* Utils */
.float-right {
  float: right;
}

.row {
  overflow: hidden;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



@media (min-width: 576px) {
  .main ul {
    li {
      width: auto;
      margin-left: 18px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .caption {
    p {
      position: absolute;
      bottom: 0;
    }
  }

  .row .c1-2 {
    display: block;
    float: left;
    width: 50%;
  }

  .row .c1-3 {
    display: block;
    float: left;
    width: 33.333%;
  }

  .row .c2-3 {
    display: block;
    float: left;
    width: 66.666%;
  }

  .row .c1-4 {
    display: block;
    float: left;
    width: 25%;
  }

  .row .c1-5 {
    display: block;
    float: left;
    width: 20%;
  }

  .row .c2-5 {
    display: block;
    float: left;
    width: 40%;
  }

  .row .c3-5 {
    display: block;
    float: left;
    width: 60%;
  }

  .row .c4-5 {
    display: block;
    float: left;
    width: 80%;
  }
}

@media (min-width: 768px) {
  .main ul {
    li {
      a {
        width: 216px;
      }
    }
  }
}
